.App {
  text-align: center;
  width: 230px;
  height: 580px;
  border: 3px solid black;
  background: black;
  padding: 10px;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.red {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: red;
  margin: auto;
}

.yellow {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: yellow;
  margin: auto;
}

.green {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: green;
  margin: auto;
}
.active {
  box-shadow: 1px -8px 126px 28px rgba(255, 255, 255, 0.75);
}
